body{
    background-color: burlywood;
    border-radius: 50px;
    padding: 10px;
}

header{
    background-color: darksalmon;
    padding: auto;
    border-radius: 40px;
}

section{
    font-family: sans-serif;
    font-style: italic;
}

nav ul li{
    display: inline;
}